@import "../styles/variables";
@import "../styles/mixins";

.employees-container {
  display: grid;
  height: 85vh;
  max-width: 1440px;
  width: 90vw;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
  &__toolbar {
    align-self: center;
    justify-self: end;
  }

  &__body {
    width: 100%;
    @include flexColumn;
    background-color: $secondary-bg-color;
    border-radius: $main-border-radius;
    padding: 10px;
    overflow-y: auto;
    @include modalFormShadow;
    & > * {
      margin-bottom: 25px;
    }
    &-header {
      @include employeeElementGrid;
      @include modalFormShadow;
      border-radius: $main-border-radius;
      background-color: $employee-block-header-el-bg-color;
      font-size: 1.2rem;
    }

    &-employee {
      @include employeeElementGrid;
      border-radius: $main-border-radius;
      @include employeeBlockShadow;
      opacity: 0.8;
      background-color: $employee-block-body-el-bg-color;
    }
  }
}

.modal-container__modal {
  background-color: $modal-bg-color;
  border-radius: $main-border-radius;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 30px);
  grid-gap: 20px;
  justify-items: center;
  align-content: center;
  align-self: center;
  height: 450px;
  width: 350px;
  position: relative;

  .modal-container_close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
