@import '../styles/variables';

.employees-container {
  display: grid;
  height: 85vh;
  max-width: 1440px;
  width: 90vw;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  justify-content: center;
  justify-items: center;
  align-content: center;
  &__toolbar {
    align-self: center;
    justify-self: end;
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $secondary-bg-color;
    border-radius: 4px;
    padding: 10px;
    overflow-y: auto;
    -webkit-box-shadow: -1px 1px 8px 4px rgba(0,0,0,0.5);
    box-shadow: -1px 1px 8px 4px rgba(0,0,0,0.5);
    & > * {
      margin-bottom: 25px;
    }
    &-header {
      // TODO: EXTRACT INTO MIXIN
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 40px;
      font-size: 1.2rem;
    }

    &-employee {
      // TODO: EXTRACT INTO MIXIN
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 40px;
      border-radius: 4px;
      opacity: 0.8;
      -webkit-box-shadow: 0 12px 8px -4px rgba(0,0,0,0.43);
      box-shadow: 0 12px 8px -4px rgba(0,0,0,0.43);
      background-color: $employee-block-bg-color;
    }
  }

}

.modal-container__modal {
  background-color: #8899ac;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 30px);
  grid-gap: 20px;
  justify-items: center;
  align-content: center;
  align-self: center;
  height: 450px;
  width: 350px;
  position: relative;
  
  .modal-container_close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}