@import '../../styles/variables';

.form {
  width: 350px;
  min-height: 450px;
  max-height: 450px;
  display: grid;
  grid-template-columns: 195px;
  background-color: $form-bg-color;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  border-bottom: 3px solid $form-bg-color;
  -webkit-box-shadow: -1px 1px 8px 4px rgba(0,0,0,0.5);
  box-shadow: -1px 1px 8px 4px rgba(0,0,0,0.5);
  position: absolute;
}
.form_success {
  border-bottom: 3px solid $form-valid;
}
