$body-bg-color: #222831;
$secondary-bg-color: #30475e;
$form-bg-color: #22303c;
$modal-bg-color: #415262;
$btn-bg-color: #dcdcdc;
$employee-block-bg-color: #839b97;
$input-error: #ff3c3c;
$form-valid: #7eea5e;
$text-error: #ff4c4c;
$main-border-radius: 4px;
$employee-block-header-el-bg-color: #456587;
$employee-block-body-el-bg-color: #86a3c1;
$form-column-main-w: 195px;
