.card {
  width: 600px;
  min-height: 500px;
  max-height: 500px;
  background-color: gainsboro;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 60px repeat(auto-fill, 40px);
  text-align: center;
  padding: 10px;
  & > * {
    border-bottom: 1px solid black;
  }
}