@import "../../../styles/variables";
@import "../../../styles/mixins";

.input-container {
  display: grid;
  grid-template-columns: $form-column-main-w;
  grid-template-rows: 30px 45px;
  position: relative;
  &__input {
    padding: 3px 25px 3px 25px;
    border-radius: 4px;
  }

  &__error {
    color: $text-error;
  }

  &__input_error {
    border-bottom: 2px solid $input-error;
  }

  &__icon {
    @include inputFieldIcon;
    left: 5px;
  }

  &__pswd-visibility-icon {
    @include inputFieldIcon;
    right: 5px;
  }
}
