@import "../../../styles/variables";
@import "../../../styles/mixins";

.input-container {
  display: grid;
  // TODO: Extract 195px into var
  grid-template-columns: 195px;
  grid-template-rows: 30px 50px;
  position: relative;

  &__input {
    padding: 3px 25px 3px 25px;
    border-radius: 4px;
  }

  &__error {
    color: $text-error;
  }

  &__input_error {
    border-bottom: 2px solid $input-error;
  }

  &__icon {
    @include inputFieldIcon;
    left: 5px;
  }

  &__pswd-visibility-icon {
    @include inputFieldIcon;
    right: 5px;
  }
}
