.modal-delete-confirmation {
  background-color: #8899ac;
  border-radius: 4px;
  height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__options {
    display: flex;
    width: 65%;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-around;

  }
}