@import "../../../styles/variables";
.select-container {
  display: flex;
  flex-direction: column;
  width: $form-column-main-w;
  &__select {
    border-radius: $main-border-radius;
    height: 30px;
  }
  &__error {
    width: 100%;
    color: $text-error;
  }
}
