@import "../../../../../../../styles/mixins";
@import "../../../../../../../styles/variables";

.modal-delete-confirmation {
  border-radius: $main-border-radius;
  height: 450px;
  width: 350px;
  @include flexColumn;
  align-self: center;
  justify-content: space-around;
  background-color: #415262;
  @include modalFormShadow;

  &__text {
    width: 65%;
    align-self: center;
    text-align: center;
  }
  &__options {
    @include flexRow;
    width: 65%;
    margin: 0 auto;
    justify-content: space-around;
  }
}
